<template name="home">
    {{> sidebar}}
	<!-- home -->
	<div class="home-app app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>What you wanna do?</h3>
			</div>
			<div class="row">
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<i class="fa fa-futbol-o" style="color:#333333"></i>
							<h5>Sports</h5>
						</div>
					</a>
					
				</div>
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<i class="fa fa-cutlery" style="color:#cccccc"></i>
							<h5>Lunch</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<i class="fa fa-hand-peace-o" style="color:#FD2822"></i>
							<h5>Smoke</h5>
						</div>
					</a>
				</div>
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<i class="fa fa-gamepad" style="color:#05B364"></i>
							<h5>Xbox</h5>
						</div>
					</a>
				</div>
			</div>
            <div class="row">
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<i class="fa fa-book" style="color:#FCD74C"></i>
							<h5>Study</h5>
						</div>
					</a>
				</div>
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<i class="fa fa-users" style="color:#397FF2"></i>
							<h5>Network</h5>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end home -->
</template>