<template name="schedule"> 
    {{> sidebar}}
	<!-- subSports -->
	<div class="schedule-app app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>Schedule</h3>
			</div>
			<form id="js-schedule-form">
			<div class="row">
				<div class="col s12">
					 
                        <p class="range-field">
                        <input name="date" required type="date" class="datepicker" placeholder="Choose Date">
                        </p>
                    
				</div>
			</div>
			<div class="row">
                    <div class="input-field col s12">
                        <label for="timepicker_ampm_dark">Pick Time</label>
                        <input name="time" required id="timepicker_ampm_dark" class="timepicker" type="time">
                    </div>
             </div>
			 <div class="row">
				<div class="col s12">
					 <button class="btn waves-effect waves-light" type="submit" name="action">Schedule
					</button>
				</div>
			</div>
			</form>
		</div>
		</div>
	
	<!-- end subSports -->
</template>