<template name="settings">
    	<!-- settings -->
	<div class="setting-app app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>Settings</h3>
			</div>
			<form action="#">
				<div class="img-uplod">
					<img src="img/photos.jpg" alt="">
				</div>
				<input type="file">
				<div class="input-field">
					<input type="text" class="validate">
					<label for="">Username</label>
				</div>
				<div class="input-field">
					<input type="text" class="validate">
					<label for="">First Name</label>
				</div>
				<div class="input-field">
					<input type="text" class="validate">
					<label for="">Last Name</label>
				</div>
				<div class="input-field">
					<input type="number" class="validate">
					<label for="">Phone</label>
				</div>
				<div class="input-field">
					<input id="email" type="email" class="validate">
					<label for="email">Email</label>
				</div>
				<div class="input-field">
					<input id="password" type="email" class="validate">
					<label for="password">Save Cange</label>
				</div>
				<button class="button">Password</button>
			</form>
		</div>
	</div>
	<!-- end settings -->
</template>