<template name="sidebar">
    	<!-- navbar -->
	<div class="navbar">
		<div class="container">
			<div class="panel-control-left">
				<a href="#" data-activates="slide-out-left" class="sidenav-control"><i class="fa fa-bars"></i></a>
			</div>
			<div class="text-center">
				<h2>BuddyApp</h2>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	<!-- panel control -->
<div class="panel-control-right">
		<ul id="slide-out-left" class="side-nav collapsible"  data-collapsible="accordion">
			<li>
				<div class="photos">
					<img src="img/photos.jpg" alt="">
					<h3>{{ profileName }}</h3>
				</div>
			</li>
			<li>
				<a href="/"><i class="fa fa-search"></i>Let's do something!</a>
			</li>
			<li>
				<a href="/activities"><i class="fa fa-search"></i>Find a Buddy</a>
			</li>
			<li>
				<a href="/profile"><i class="fa fa-user "></i>Profile</a>
			</li>
			<li>
				<a href="/chats"><i class="fa fa-user-plus"></i>Chats</a>
			</li>
      <br> <hr>
    	    <li>
				<a href="/settings"><i class="fa fa-cog"></i>Settings</a>
			</li>
      		<li>
				<a href="#"><i class="fa fa-envelope"></i>About Us</a>
			</li>
      		<li>
				<a href="#" class="js-logout"><i class="fa fa-sign-out"></i>Logout</a>
			</li>
		</ul>
	</div>
  
</template>