<template name="signup">
    	<!-- signup-->
	<div class="register app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>Sign Up</h3>
			</div>
			<form action="#" id="js-signup-form">
				<div class="input-field">
					<input id="firstName" type="text" class="validate">
					<label for="first-name">First Name</label>
				</div>
				<div class="input-field">
					<input id="lastName" type="text" class="validate">
					<label for="last-name">Last Name</label>
				</div>
				<div class="input-field">
					<input id="email" type="email" class="validate">
					<label for="email">Email</label>
				</div>
				<div class="input-field">
					<input id="password" type="password" class="validate">
					<label for="password">Password</label>
				</div>
				<button class="button">Sign Up</button>
				<strong class="login-now">Your already registered? <a href="/login">Login now</a></strong>
			</form>
		</div>
	</div>
	<!-- end signup -->
</template>