<template name="sports"> 
    {{> sidebar}}
	<!-- subSports -->
	<div class="sports-app app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>What sport you wanna play</h3>
			</div>
			<div class="row">
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<img src="img/tennis.png" alt="tennis">
							<h5>Tennis</h5>
						</div>
					</a>
					
				</div>
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<img src="img/basketball.png" alt="basketball">
							<h5>Basketball</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<img src="img/dumbbell.png" alt="gym">
							<h5>Gym</h5>
						</div>
					</a>
				</div>
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<img src="img/goggles.png" alt="swim">
							<h5>Swim</h5>
						</div>
					</a>
				</div>
			</div>
				<div class="row">
				
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<img src="img/ping-pong.png" alt="ping-pong">
							<h5>Table Tennis</h5>
						</div>
					</a>
				</div>
				<div class="col s6">
					<a href="#">
						<div class="entry">
							<img src="img/football.png" alt="football">
							<h5>Football</h5>
						</div>
					</a>
				</div>
			</div>
       
		</div>
	</div>
	<!-- end subSports -->
</template>